package-lock.json

srv*
dev*
bu
cert
archief
aliconnector*
delphi1

etc
fetch
forum
fs1
login
pi
webroot
shared
/sites
/training

**.mp4
**.log

*test*

**dcu**
**~**
**sitemap**
**desktop**
cert/**
/sql
/js/min
/node_modules
/api/sql
/app
/inc
/wav
/aim
/aim-connect
/aim-api
/test
/dev
/tmp
/google**
/**htaccess**

/lib/wav
