pre{background-color:rgba(180,180,180,0.1);color:red;padding:10px;border:solid 1px rgba(180,180,180,0.3);}
.header-fauxborder-left{background:linear-gradient(to right, rgb(59,125,237), rgb(43,162,76)); color:white;}
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-style: italic;
  margin:0;
}
